@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%;
}
@media (min-width: 56.25em) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

/* UTILITIES */
.container-large {
  max-width: 120rem;
  margin: 0 auto;
}

.button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 1rem;
  /* padding: 0.8rem 6rem 0.8rem 6rem; */
  padding: 1rem 4rem;
  font-weight: bold;
  font-size: 2.4rem;
  text-transform: uppercase;
}

.button-dark-blue {
  /* background: #407bbf; */
  background-color: #3bd60c;
  color: #ffffff;
}

.color-light-blue {
  color: #326fb4;
  font-size: 1.6rem;
}

/* HEADER */
.header {
  position: relative;
  color: #ffffff;
  /* height: 80vh; */
  /* height: 50rem; */
  /* margin-bottom: -6rem; */
  /* margin-bottom: 5rem; */
  padding-bottom: 5rem;
}
.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  clip-path: polygon(50% 0%, 100% 0, 100% 30%, 50% 70%, 0 30%, 0 0);
  background: #1d4e88;
}

@media (max-width: 61.25em) {
  .header::after {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 50% 80%, 0 50%, 0 0);
  }
}
@media (max-width: 650px) {
  .header::after {
    /* height: 70rem; */
    /* height: 40rem; */
    margin-bottom: 0rem;
    clip-path: none;
  }
}

.header__position {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* height: 40vh; */
  max-width: 90rem;
  padding: 0 2rem;
  padding-top: 3rem;
}

.header__position-title {
  font-size: 4.5rem;
}

.header__position-title--sm {
  font-size: 3.5rem;
}
/* @media (max-width: 390px) {
  .header__position-title {
    font-size: 4rem;
    padding: 5rem 0 0 0;
  }
} */
/* @media (max-width: 20.4375em) {
  .header__position-title {
    font-size: 3.4rem;
  }
} */

.header__position-subtitle {
  font-weight: light;
  padding-top: 2rem;
  font-size: 3rem;
}
@media (max-width: 20.4375em) {
  .header__position-subtitle {
    font-size: 2rem;
  }
}

.header__video {
  /* position: absolute; */
  /* top: 76%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* margin-top: 5rem; */
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  margin-top: 5rem;
  height: auto;
  /* transform: translateY(-15rem); */
}
/* @media (max-width: 650px) {
  .header__video {
    transform: translateY(1rem);
  }
} */

/* @media (max-width: 61.25em) {
  .header__video {
    top: 78%;
  }
}
@media (max-width: 56.1875em) {
  .header__video {
    top: 67%;
  }
}
@media (max-width: 43.125em) {
  .header__video {
    top: 70%;
  }
}
@media (max-width: 600px) {
  .header__video {
    box-shadow: 0 0 3rem transparent;
    top: 60%;
    background: transparent;
  }
}
@media (max-width: 20.4375em) {
  .header__video {
    top: 50%;
  }
} */

.header__videoIframe {
  box-shadow: 0 0 3rem rgb(94, 94, 94);
  background: #ffffff;
  padding: 2.5rem;
  border-radius: 3rem;
}

@media (max-width: 650px) {
  .header__videoIframe {
    padding: 1rem 0.5rem;
    box-shadow: 0 0 3rem transparent;
    background: transparent;
  }
}

/* Sección "Te Interesa" */
.mt-30 {
  margin-top: 40rem;
}

.questions {
  background: rgba(121, 169, 219, 0.3);
  padding: 3rem;
  /* margin-top: 5rem; */
}
/* @media (max-width: 56.1875em) {
  .questions {
    margin-top: 25rem;
  }
}
@media (max-width: 37.5em) {
  .questions {
    margin-top: 20rem;
  }
}
@media (max-width: 29.375em) {
  .questions {
    margin-top: 15rem;
  }
}
@media (max-width: 20.4375em) {
  .questions {
    margin-top: 6rem;
  }
} */

.questions__subject {
  margin: 0 auto 3rem auto;
  text-align: center;
  max-width: 60rem;
}

.questions__title {
  font-size: 2.4rem;
  color: #2465af;
}

.questions__subtitle {
  font-size: 1.7rem;
  color: #2465af;
}

.questions__cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.questions__card {
  background: #ffffff;
  border-radius: 1rem;
  text-align: center;
  color: #1d4e88;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}

/* Sección "Negocio Inteligente"  */
.negocio-inteligente__cards {
  margin-bottom: 2rem;
  max-width: 100rem;
  margin: 0 auto !important;
  row-gap: 1.6rem;
}

.negocio-inteligente__card {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 0.2rem 2rem 0.4rem rgba(64, 123, 191, 0.25);
  border-radius: 5rem;
  padding: 1rem;
  color: #407bbf;
  font-weight: 400;
  gap: 2rem;
}

.negocio-inteligente__card-p {
  font-size: 2rem;
}

.negocio-inteligente__card-icon {
  max-width: 7rem;
}

.negocio-inteligente__titulo {
  max-width: 40rem;
  margin: 2.5rem auto;
  color: #2465af;
  font-weight: bold;
  font-size: 2.8rem;
}

/* Sección "Negocio Inteligente" 2 */
.negocio-inteligente-features {
  background: rgba(121, 169, 219, 0.1019607843);
  padding-bottom: 6rem;
}

.negocio-inteligente-features__cards {
  margin-bottom: 2rem;
  max-width: 100rem;
  margin: 0 auto !important;
  row-gap: 1.6rem;
}

.negocio-inteligente-features__card {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 0.4rem 1.6rem 0 rgba(36, 101, 175, 0.15);
  border-radius: 2.4rem;
  padding: 1rem;
  color: #1d4e88;
  font-weight: 400;
  gap: 2rem;
  height: 15rem;
}

.negocio-inteligente-features__card-p {
  font-size: 2rem;
}

.negocio-inteligente-features__card-icon {
  max-width: 7rem;
}

.negocio-inteligente-features__titulo {
  max-width: 40rem;
  margin: 2.5rem auto;
  color: #2465af;
  font-weight: bold;
  font-size: 2.8rem;
}

/* MIGUEL CALVO SECTION */
.miguel-biography__position {
  display: flex;
  gap: 6rem;
}
@media (max-width: 43.75em) {
  .miguel-biography__position {
    flex-direction: column;
  }
}

.miguel-biography__background {
  background: #1d4e88;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-basis: 40rem;
  flex: 1;
}
@media (max-width: 43.75em) {
  .miguel-biography__background {
    flex-direction: column;
    padding: 3rem 1rem;
  }
}

.miguel-biography__image {
  width: 36rem;
  height: 36rem;
  transform: translateX(4rem);
}
@media (max-width: 43.75em) {
  .miguel-biography__image {
    transform: translateX(0);
    max-width: 100%;
  }
}

.miguel-biography__img {
  width: 100%;
  height: 100%;
}
@media (max-width: 43.75em) {
  .miguel-biography__img {
    object-fit: contain;
  }
}

.miguel-biography__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2.5rem;
  flex: 2;
}
@media (max-width: 43.75em) {
  .miguel-biography__content {
    padding: 0 1.5rem;
  }
}

.miguel-biography__title {
  font-size: 4rem;
  color: #2465af;
  font-weight: bold;
}

.miguel-biography__history {
  font-size: 1.8rem;
  max-width: 65rem;
  color: #2465af;
}

.miguel-biography__companies {
  display: flex;
  justify-content: center;
  text-align: center;
}
@media (max-width: 21.875em) {
  .miguel-biography__companies {
    flex-direction: column;
    align-items: center;
  }
}

.miguel-biography__companies-image {
  max-width: 15.676rem;
  margin: 0 auto 1.5rem auto;
}

.miguel-biography__companies-img {
  width: 100%;
  height: 100%;
}

.miguel-biography__p {
  color: #326fb4;
  font-size: 1.8rem;
}
@media (max-width: 21.875em) {
  .miguel-biography__p {
    text-align: center;
  }
}

.bg {
  background: url('../img/Background.png');
}

.prelanzamiento__label {
  font-size: 1.4rem;
}

.prelanzamiento__input {
  display: block;
  width: 100%;
  font-size: 1.4rem;

  border: 1px solid #d1d1d6;

  background-color: white;
  border-radius: 0.8rem;
  padding: 1.5rem 1.6rem;
}

.prelanzamiento__input::placeholder {
  color: #989898;
  font-size: 1.4rem;
}

.prelanzamiento__input:focus {
  outline-color: #1d4e88;
}

.prelanzamiento__checkbox {
  accent-color: #1d4e88;
  width: 1.7rem;
  height: 1.7rem;
}

.button-submit {
  border-radius: 3rem;
  border: none;
  background: #407bbf;
  text-transform: capitalize;
}

.prelanzamiento__logo {
  max-width: 30rem;
}

.flex-1 {
  flex: 1;
}

/*# sourceMappingURL=main.css.map */
